/SkillUP/nbproject/private/
SkillUP/nbproject/project.xml
SkillUP/nbproject/project.properties
SkillUP/nbproject/genfiles.properties
SkillUP/nbproject/build-impl.xml
SkillUP/lib/nblibraries.properties
SkillUP/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/SkillUP/build/